<template>
  <div class="filters">
    <Search />
    <FilterType />
  </div>
</template>

<script setup>
import Search from './Search.vue';
import FilterType from './FilterType.vue';
</script>

<style lang="scss">
.filters {
  display: flex;
  gap: 1rem;
}
</style>