<template>
  <div class="input-group">
    <label for="filter">Filter by Type</label>
    <select id="filter" @change="handleFilterSelected">
      <option value="">-- None --</option>
      <option v-for="filter in filters" :value="filter" :key="filter">{{ filter }}</option>
    </select>
  </div>
</template>

<script setup>
import { useStore } from 'vuex';
import { computed} from 'vue';

const store = useStore();

const filters = computed(() => {
  const types = store.state.pokemonStore.pokemons.reduce((allTypes, poke) => {
    allTypes[poke.type] = true;
    return allTypes;
  }, {});

  return Object.keys(types);
});

const handleFilterSelected = (evt) => {
  store.dispatch('pokemonStore/setFilter', evt.target.value)
}

</script>

<style lang="scss">

</style>

