<template>
  <div :class="'pokemon ' + pokemon.type">
    <div class="content">
      <h2 class="title">{{ pokemon.name }}</h2>
      <span class="type">{{ pokemon.type }}</span>
    </div>
    <img class="avatar" :src="pokemon.url" />
  </div>
</template>

<script setup>
import { computed } from '@vue/reactivity';
import { defineProps } from 'vue';

const props = defineProps({
  pokemon: {
    type: Object,
    required: true,
  },
});

const pokemon = computed(() => props.pokemon);
</script>

<style lang="scss">
$colorMap: (fire: #f36b6c, grass: #49d1b1, water: #8dc6f8, bug: #876acb);

.pokemon {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 0.5rem 1.25rem;
  cursor: pointer;

  transition: box-shadow 0.25s ease-in-out;
  will-change: box-shadow;

  @each $type, $color in $colorMap {
    &.#{$type} {
      background-color: $color;

      &:hover {
        box-shadow: 4px 4px 16px $color;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .title {
    font-size: 2rem;
    margin: 0;
    text-transform: capitalize;
    transition: color 0.4s ease-out;
  }

  &:hover .title {
    color: white;
  }

  .avatar {
    height: 120px;
    transition: transform 0.25s ease-in-out;
  }

  &:hover .avatar {
    transform: scale(1.5);
  }

  .type {
    border: 1px solid white;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }

  @each $type, $color in $colorMap {
    &.#{$type} {
      .type {
        background-color: lighten($color, 5%);
      }
    }
  }
}
</style>