<template>
  <div class="input-group">
    <label for="search">Search by pokemon name</label>
    <input id="search" @input="handleInput" />
  </div>
</template>

<script setup>
import { useStore } from 'vuex';


const store = useStore();

const handleInput = (evt) => {
  store.dispatch('pokemonStore/setSearch', evt.target.value);
}
</script>

<style lang="scss">

</style>