<template>
    <h1>Live Coding Pokemons</h1>
    <Filter />
    <Pokemons />
</template>

<script setup>
import Pokemons from '@/views/Pokemons/Pokemons.vue'
import Filter from './views/Filters.vue';

</script>


<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.input-group {
  display: inline-flex;
  flex-direction: column;
  
  label {
    margin-bottom: 4px;
  }

  input, select {
    width: 240px;
    padding: 8px 12px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #333;
  }
}
</style>
