<template>
    <div class="pokemon-view">
      <Pokemon v-for="pokemon in filteredPokemons" :key="pokemon.id" :pokemon="pokemon" />
    </div>
</template>

<script setup>
import { computed } from '@vue/reactivity';
import { useStore } from 'vuex';
import Pokemon from '@/views/Pokemon.vue';

const store = useStore();

const filteredPokemons = computed(() => {
  const searchString = store.state.pokemonStore.searchString;
  const typeFilter = store.state.pokemonStore.filterType;
  const pokemons = store.state.pokemonStore.pokemons;

  if (searchString === '' && !typeFilter) {
    return pokemons;
  }

  return pokemons.filter(poke => (
    (!typeFilter || poke.type === typeFilter) && 
    (!searchString || poke.name.toLowerCase().includes(searchString.toLowerCase()))
  ));
});
</script>

<style src="./Pokemons.scss" lang="scss"></style>
